<body>
  <a
    href="https://www.linkedin.com/in/caiquebezerra/"
    class="logo"
    target="_blank"
  >
    <img
      src="../../assets/img/WhatsApp_Image_2021-07-22_at_4.55.49_PM-removebg-preview(3).png"
      style="height: 200px; width: 200px"
      alt=""
    />
  </a>

  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Editar Usuário</h4>
                      <div class="form-group">
                        <!-- {{
                        item.user.nome
                        }} -->

                        <input
                        [(ngModel)]="nome"
                          type="text"
                          name="nome"
                          class="form-style"
                          id="nomeCadastro"
                          autocomplete="off"
                        />
                        <i class="fa fa-user-o input-icon uil uil-user"></i>
                      </div>

                      <div class="form-group mt-2">
                        <input
                        [(ngModel)]="email"
                          type="email"
                          name="logemail"
                          class="form-style"
                          placeholder="Seu Email"
                          id="emailCadastro"
                          autocomplete="off"
                        />
                        <i class="fa fa-at input-icon uil uil-at"></i>
                      </div>

                      <div class="form-group mt-2">
                        <input
                        [(ngModel)]="senha"
                          type="password"
                          name="logpass"
                          class="form-style"
                          placeholder="Sua Senha"
                          id="senhaCadastro"
                          autocomplete="off"
                        />
                        <i class="fa fa-lock input-icon uil uil-lock-alt"></i>
                      </div>
                      <button
                        type="submit"
                        class="btn btn-danger mt-4 mr-4"
                        (click)="editarUsuario()"
                      >
                        Alterar
                      </button>
                      <button
                        type="submit"
                        class="btn mt-4" style="background-color: red;"
                        (click)="deletarUsuario(id)"
                      >
                        Excluir
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
